body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    background-color: #eaeaea;
}

#main {
    flex: 1;
    background-color: #fdfdfd;
    padding: 2rem;
    box-sizing: border-box;
    overflow-y: auto;
}

#sheets {
    width: 100%;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

#seatDisplay {
    margin-top: 30px;
    text-align: center;
    width: 100%;
    overflow-x: auto;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 90vw;
    max-width: 1000px;
}

td {
    border: 1px solid #ccc;
    height: calc(90vw / 15);
    max-height: 60px;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    font-size: 14px;
    word-break: break-word;
}

td[style*="background: #ccc"] {
    background-color: #bdc3c7 !important;
}

a{
    color: #000000;
}
.seat {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.seat.show-seat {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
