body {
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#sidebar {
    width: 100px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    box-sizing: border-box;
}

#mainScreen #settingsScreen {
    flex: 1;
    background-color: #f0f0f0;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
}

a {
    color: #fff;
}